if theme.ads
  #ads.div
    script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins.adsbygoogle.post(style="display:block", data-ad-format="fluid", data-ad-layout-key="-ge-5-7-bj+rq", data-ad-client="ca-pub-8288834688119567", data-ad-slot="6530557137")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
