if theme.ads
  #ads.div
    script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins.adsbygoogle.post(style="display:block", data-ad-format="fluid", data-ad-client="ca-pub-8288834688119567", data-ad-slot="6530557137", data-ad-layout-key="-gq-4+10-6a+bh")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
