if theme.ads
  #ads.div
    script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins.adsbygoogle.post(style="display:block", data-ad-format="auto", data-ad-client="ca-pub-8288834688119567", data-ad-slot="4000315768", data-full-width-responsive="true")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
