if theme.ads
  #ads.div
    script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins.adsbygoogle.post(style="display:block", data-ad-format="fluid", data-ad-client="ca-pub-3275119938159477", data-ad-slot="3788612447", data-ad-layout-key="-gb-4+10-6a+bh")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
