extends views/main.pug

block head
  title
    = page.title + ' - ' + config.title
  style.
    //- @media (max-width: 1023px){.head {margin-top: 50px !important;};}
    //- @media (max-width: 767px){.head {margin-top: 20px !important;};}
    @media (max-width: 767px){.post {border: none !important;}.foot {border-top: 1px solid #f0f0f0;};}
block main
  .alert
    span.closebtn(onclick="this.parentElement.style.display='none';") ×
    |   labreport is best viewed using Firefox. 
  #batteryAPI.alert(style="display:none;")
    span.closebtn(onclick="this.parentElement.style.display='none'; uiUpd('',true);") x
    |   Low power mode activated; Click x to turn off. 
  
  include mixins/post.pug
  +post(page, 'post')
  
  include plugins/reward.pug
  include plugins/livere.pug
  include plugins/coinhive.pug
  
  != js('js/nocontext')
